
body {
  background-color: beige;
}

table {
  font-size: 20px;
  background-color: rgb(234, 231, 173);
  width: 60%;
  border-collapse:collapse;
  border: 1px solid black;
}
  
  table td {
  border:1px solid black;
  padding: 5px;
  }


